/* Modal */
.btn-modal {
  padding: 13px 30px;
  background: white;
  color: #0B1847;
  border-radius: 60px;
  border: 1px solid #0B1847;
  cursor: pointer;
  font-size: 0.7em;
  display: block;
  text-transform: uppercase;
  transition: all 0.2s;
  text-align: center;
  width: 200px;
  position: relative;
  top: 150px;
  text-align: center;
  margin: 0 auto;
}

.content-button-close {
 
  background:#ec2d27;
  color: #fff;
  border-radius: 60px;
  border: 2px solid #ec2d27;
  cursor: pointer;
  font-size: 0.7em;
  display: block;
  text-transform: uppercase;
  transition: all 0.2s;
  text-align: center;
  
    top:-10px;
  right: -15px;
  width: 30px;
  height: 30px;
  position:absolute;
  
}

.btn-modal:hover,
.content-button-close:hover {
   background:#ec2d27;
  color: white;
}

.close {
  position: absolute;
  top: 15px;
  right: -15px;
  width: 30px;
  height: 30px;
  background:#0B1847;
  font-weight: 900;
  color: white;
  cursor: pointer;
  border: 0;
  border-radius: 50px;
  -webkit-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  
    z-index:999999999999;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  transition: 0.7s;
   z-index:9999999;

}

.elegant-modal {
  position: fixed;
 
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	
  width:30%;
  height:380px;
 
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  transform: translateY(45px);
  background-color: #5d2f90;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  z-index:9999999;

}

.active {
  visibility: visible;
  opacity: 1;
  transition: all .2s;
}

.active + .elegant-modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.elegant-modal h1.title-modal {
  margin: 20px 0 5px 0;
  padding: 0 20px;
  font-size:18px;
  color:#fff;
  line-height:25px;
}

.elegant-modal hr.line-modal {
  border:1px solid #fff;
}

.paragraph-modal {
  font-size: 18px;
  margin-top: 5px;
  padding:0 20px 0 20px;
  color: #fff;
}

.paragraph-modal2 {
 
  border:1px #1b0138 solid;
  padding:10px 25px 30px 25px;
  -webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
}



.pop_inpt
{
	width:100%;
	height:30px;
	margin:5px 0 5px 0;
	font-size:13px;
	background-color:#1b0138;
	border:0;
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
color:#9d93a7;
	
}

.pop_inpt select
{
	color:#9d93a7;
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
	
}


.submite_btn
{
	width:100%;
	min-height:30px;
	font-size:14px;
	color:#fff;
	background-color:#1b0138;
	border:0;
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
margin-top:15px;
border;1px #fff solid;
}


.submite_btn:hover
{
	width:100%;
	min-height:30px;
	font-size:14px;
	color:#fff;
	background-color:#ec2d27;
	border:0;
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
margin-top:15px;
border;1px #fff solid;
}





.pop_color
{
	color:#fff;
}

.text_pp
{
	font-size:13px;

}





@media screen and (max-width:768px) and (min-width:320px) {



.elegant-modal {
  position: fixed;
 
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	
  width:80%;
  height:380px;
 
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-out;
  transform: translateY(45px);
  background-color: #5d2f90;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 9px 15px -5px rgba(0, 0, 0, 0.46);
  z-index:9999999;

}


.elegant-modal h1.title-modal {
  margin: 20px 0 5px 0;
  padding: 0 20px;
  font-size:16px;
  color:#fff;
  line-height:25px;
}


}



















